openapi: 3.1.0
info:
  title: Engram API
  version: 0.1.0
  description: |
    Engramly turns PDFs into page-aware Markdown with preserved tables, math,
    code blocks, and document metadata.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.engramly.net
    description: Production
  - url: http://127.0.0.1:7842
    description: Local (self-hosted)

security:
  - bearerAuth: []

paths:
  /v1/pdf/prepare/status:
    post:
      summary: Poll asynchronous PDF inference preparation
      operationId: getPdfPreparationStatus
      security: []
      description: The token is an opaque, expiring capability returned by prepared inspection. Bearer authentication is not repeated for polling.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        "200":
          description: Inference dependencies are ready
          content:
            application/json:
              schema:
                type: object
                required: [state]
                properties:
                  state: { type: string, const: ready }
        "202":
          description: Preparation is still running
          content:
            application/json:
              schema:
                type: object
                required: [state]
                properties:
                  state: { type: string, const: pending }
        "400":
          description: The preparation capability is malformed or expired
        "502":
          description: Inference preparation failed
  /v1/pdf/preflight:
    post:
      summary: Check cache state and prewarm parse capacity
      operationId: preflightPdf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sha256]
              properties:
                sha256: { type: string, pattern: "^[a-fA-F0-9]{64}$" }
                dpi: { type: integer, default: 200 }
                figures: { type: boolean, default: false }
                pages: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Cache state and acknowledged predictive worker target
          headers:
            X-Engram-Origin: { $ref: '#/components/headers/Origin' }
            X-Engram-Request-Id: { $ref: '#/components/headers/RequestId' }
            X-Engram-Workers: { $ref: '#/components/headers/Workers' }
            X-Engram-Worker-Target: { $ref: '#/components/headers/WorkerTarget' }
          content:
            application/json:
              schema:
                type: object
                required: [cache, workers, target]
                properties:
                  cache: { type: string, enum: [hit, miss] }
                  workers: { type: integer, minimum: 0 }
                  target: { type: integer, minimum: 0 }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
  /v1/pdf/inspect:
    post:
      summary: Inspect PDF metadata and embedded outline without OCR
      operationId: inspectPdf
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              oneOf:
                - required: [file]
                - required: [url]
              properties:
                file: { type: string, format: binary }
                url:
                  type: string
                  format: uri
                  pattern: "^https://"
                  description: Paid requests only; public HTTPS PDF, at most 10 MB and 15 seconds including redirects
      responses:
        "200":
          description: PDF inspection result
          headers:
            X-Engram-Origin: { $ref: '#/components/headers/Origin' }
            X-Engram-Request-Id: { $ref: '#/components/headers/RequestId' }
            X-Engram-Cache: { $ref: '#/components/headers/Cache' }
            X-Engram-Inspect-Cache: { $ref: '#/components/headers/InspectCache' }
            Server-Timing: { $ref: '#/components/headers/ServerTiming' }
            X-Engram-Workers: { $ref: '#/components/headers/Workers' }
            X-Engram-Worker-Target: { $ref: '#/components/headers/WorkerTarget' }
            X-Engram-Prepared:
              description: "`1` when preparation completed in this request; `0` with a preparation token when polling is required"
              schema: { type: string, enum: ["0", "1"] }
            X-Engram-Prepare-Token:
              description: "Opaque expiring token for `/v1/pdf/prepare/status`"
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PdfInspectResult' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "413": { $ref: '#/components/responses/PayloadTooLarge' }
        "502": { $ref: '#/components/responses/UpstreamFailure' }
        "504": { $ref: '#/components/responses/UpstreamTimeout' }
  /v1/pdf/parse:
    post:
      summary: Parse selected PDF pages into page-aware Markdown
      operationId: parsePdf
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              oneOf:
                - required: [file]
                - required: [url]
              properties:
                file: { type: string, format: binary }
                url:
                  type: string
                  format: uri
                  pattern: "^https://"
                  description: Paid requests only; public HTTPS PDF, at most 10 MB and 15 seconds including redirects
                pages: { type: string, example: "1-5,8" }
                dpi: { type: integer, minimum: 100, maximum: 300, default: 200 }
                figures: { type: boolean, default: false }
                prewarmed:
                  type: boolean
                  default: false
                  description: Internal SDK hint set after an acknowledged preflight; allows cold-capacity admission wait
                page_count:
                  type: integer
                  minimum: 1
                  description: Internal SDK hint carrying the page count verified by inspect
      responses:
        "200":
          description: Page-aware Markdown parse result
          headers:
            X-Engram-Origin: { $ref: '#/components/headers/Origin' }
            X-Engram-Request-Id: { $ref: '#/components/headers/RequestId' }
            X-Engram-Cache: { $ref: '#/components/headers/Cache' }
            X-Engram-Workers: { $ref: '#/components/headers/Workers' }
            X-Engram-Worker-Target: { $ref: '#/components/headers/WorkerTarget' }
            Server-Timing: { $ref: '#/components/headers/ServerTiming' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PdfParseResult' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "413": { $ref: '#/components/responses/PayloadTooLarge' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "502": { $ref: '#/components/responses/UpstreamFailure' }
        "504": { $ref: '#/components/responses/UpstreamTimeout' }
  /v1/health:
    get:
      summary: Health check
      operationId: healthcheck
      security: []
      responses:
        '200':
          description: ok
          headers:
            X-Engram-Api-Version:
              description: Deployed gateway API revision
              schema: { type: string }
            X-Engram-Capabilities:
              description: Comma-separated deployed feature identifiers
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
        '404':
          description: Health route unavailable
        '503':
          description: Service unavailable

components:
  headers:
    Origin:
      description: Backend that produced the response
      schema: { type: string, enum: [edge, modal, vast] }
    RequestId:
      description: Correlation ID propagated through gateway and origin logs
      schema: { type: string }
    Cache:
      description: Cache tier or miss marker when known
      schema: { type: string }
    InspectCache:
      description: Whether PDF metadata and outline came from the edge inspection cache
      schema: { type: string, enum: [hit, miss] }
    Workers:
      description: Live Vast workers that completed runtime probing
      schema: { type: integer, minimum: 0 }
    WorkerTarget:
      description: Desired Vast replica count acknowledged by the predictive scaler
      schema: { type: integer, minimum: 0 }
    ServerTiming:
      description: Gateway stage durations in milliseconds
      schema: { type: string }
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key

  schemas:
    PdfInspectResult:
      type: object
      required: [document_id, filename, pages, title, author, encrypted, outline_source, outline]
      properties:
        document_id: { type: string }
        filename: { type: [string, "null"] }
        pages: { type: integer, minimum: 1 }
        title: { type: [string, "null"] }
        author: { type: [string, "null"] }
        encrypted: { type: boolean }
        outline_source: { type: string, enum: [pdf, none] }
        outline:
          type: array
          items:
            type: object
            required: [level, title, page]
            properties:
              level: { type: integer, minimum: 1 }
              title: { type: string }
              page: { type: integer, minimum: 1 }

    PdfParseResult:
      type: object
      required: [markdown, page_markdown, pages, elapsed, metadata]
      properties:
        document_id: { type: string }
        markdown:
          type: string
          description: Complete Markdown for the requested pages
        page_markdown:
          type: array
          items:
            type: object
            required: [page, markdown]
            properties:
              page: { type: integer, minimum: 1 }
              markdown: { type: string }
        pages: { type: integer, minimum: 0 }
        crops: { type: integer, minimum: 0 }
        elapsed: { type: number, minimum: 0 }
        metadata:
          type: object
          additionalProperties: true

    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
        detail: { type: string }

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PayloadTooLarge:
      description: Remote PDF exceeds the hosted 10 MB limit
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    UpstreamFailure:
      description: Remote PDF or inference upstream failed
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    UpstreamTimeout:
      description: Remote PDF download exceeded the hosted 15-second deadline
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
